{% extends "base.html" %}
{% load static %}

{% block header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <h2 class="heading big-heading">Latest Offers</h2>
        </div>
    </div>
    <!-- Carousel - medium screens and up -->
    <div class="row d-none d-md-block">
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for item in sale_items_set_1 %}
                            {% include 'home/carousel_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% for item in sale_items_set_2 %}
                            {% include 'home/carousel_item.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Mobile view -->
    <div class="row d-block d-md-none">
        {% for item in sale_items %}
        {% include 'home/carousel_item.html' %}
        {% if not forloop.last %}
        <div class="w-75 mx-auto mb-4">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- About us -->
<div class="container mb-5">
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="heading big-heading">About Us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <img class="img-fluid" src="{{ MEDIA_URL }}home_image.jpg">
        </div>
        <div class="col-12 col-md-6">
            <p>Pickle's started as a small family run business in 1996, providing quality and affordable plants to our
                customers in South-West Dublin.
                You can now order from a wide selection of plants and seeds on our online shop which delivers
                nationwide.
            </p>
            <p>We pride ourselves on the quality of our produce which is still grown here on our land on the outskirts
                of Dublin. We look forward to providing you a fun and friendly service.</p>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Bootstrap carousel
    $('.carousel').carousel()
</script>
{% endblock %}