{% extends "base.html" %}
{% load static %}
{% load products_tools %}
{% load basket_tools %}

{% block extra_title %} - Shopping Basket{% endblock %}

{% block header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="heading">Shopping Basket</h2>
        </div>
    </div>
    <!-- Shopping basket contents -->
    <div class="row">
        {% if basket_items %}
        <div class="col-12 col-md-9">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            {% if item.product.on_sale %}
                            <p class="my-0"><strong>{{ item.product.name }}<span class="text-danger">
                                        ({{ discount_percentage}}%
                                        off!)</span></strong></p>
                            {% else %}
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.price  }}</p>
                        </td>
                        <td class="w-25">
                            <form class="form update-form" method="POST"
                                action="{% url 'adjust_basket' item.item_id %}">
                                {% csrf_token %}
                                <input class="hidden" type="hidden" id="product_quantity" name="product_quantity"
                                    value="{{ item.quantity }}">
                                <div class="form-group w-50 form-quantity">
                                    <div class="form-group qty_{{item.quantity}}">
                                        <select id="quantity_id_{{item.item_id}}"
                                            class="form-control form-control-sm qty_input" name="quantity">
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link"><small class="green-text">Update</small></a>
                            <a class="remove-item text-danger ml-4" id="remove_{{ item.item_id }}"><i
                                    class="fas fa-times"></i></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">
                                €{{ item.price | calc_subtotal:item.quantity }}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-12 col-md-3 summary-box">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <h3 scope="col" class="text-center mt-3">Summary</h3>
                        </tr>
                    </thead>
                    <tr>
                        <td class="pt-3 text-right">
                            <h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Order Total: €{{ order_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                Get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-block btn-green mb-3">
                                <span>
                                    <i class="fas fa-arrow-alt-circle-left mr-1"></i>
                                </span>
                                <span class="text-uppercase">Back to Shop</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-block btn-dark-green">
                                <span class="text-uppercase">Go to Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% else %}
        <p class="lead mb-5">Your shopping basket is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-lg btn-success text-uppercase py-3">Shop
            Now</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(function () {
        let $quantity = $(".qty_input");
        for (i = 1; i < 100; i++) {
            $quantity.append($('<option></option>').val(i).html(i))
        }

        $('.hidden').each(function () {
            let quantity = $(this).val()
            $(`div.qty_${quantity} select`).val(quantity);
        });
    });

    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };
        console.log(data)
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}