{% extends "base.html" %}
{% load static %}
{% load products_tools %}


{% block header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="text-uppercase">Shopping Basket</h2>
            <hr class="w-25 mb-4">

        </div>
    </div>
    <!-- Shopping basket contents -->
    <div class="row">

        {% if basket_items %}
        <div class="col-12 col-md-9">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                    <tr>
                        <td class="w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            {% if item.product.on_sale %}
                            <p class="my-0"><strong>{{ item.product.name }}<span class="text-danger">
                                        ({{ discount_percentage}}%
                                        off)</span></strong></p>
                            {% else %}
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            {% if item.product.on_sale %}
                            <p class="my-0">
                                €{{ item.product.price | calc_discounted_price:discount_percentage|floatformat:2 }}</p>
                            {% else %}
                            <p class="my-0">€{{ item.product.price }}</p>
                            {% endif %}

                        </td>
                        <td class="py-3 w-25">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-12 col-md-3 summary-box">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <h3 scope="col" class="text-center mt-3">Summary</h3>
                        </tr>
                    </thead>
                    <tr>
                        <td class="pt-5 text-right">
                            <h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Order Total: €{{ order_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                Get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-block btn-outline-success mb-3">
                                <span>
                                    <i class="fas fa-arrow-alt-circle-left mr-1"></i>
                                </span>
                                <span class="text-uppercase">Back to Shop</span>
                            </a>
                            <a href="" class="btn btn-block btn-success">
                                <span>
                                    <i class="fas fa-lock"></i>
                                </span>
                                <span class="text-uppercase">Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% else %}
        <p class="lead mb-5">Your shopping basket is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-lg btn-success text-uppercase py-3">Shop
            Now</a>
        {% endif %}
    </div>
</div>
{% endblock %}