<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <input class="hidden" type="hidden" id="product_quantity" name="product_quantity" value="{{ item.quantity }}">
    <div class="form-group w-50 form-quantity">
        <div class="form-group qty_{{item.quantity}}">
            <select id="quantity_id_{{item.item_id}}" class="form-control form-control-sm qty_input" name="quantity">
            </select>
        </div>
    </div>
</form>
<a class="update-link"><small class="green-text">Update</small></a>
<a class="remove-item text-danger ml-4" id="remove_{{ item.item_id }}"><i class="fas fa-times"></i></a>