html {
    height: 100%;
}

body {
    background: url('/media/home_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/***** COLORS *****/
:root {
    --dark-green: #416a59;
    --green: #73a24e;
    --yellow: #f1db7d;
    --orange: #fb8b2e;
    --red: #80202b;
}

/***** TEXT *****/
.yellow-text {
    color: var(--yellow);
}

.green-text {
    color: var(--green);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

.btn-green,
.badge-green {
    background: var(--green);
    color: #fff;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}


.back-to-top-button {
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.back-to-top-link {
    cursor: pointer;
}

.btn-accordion {
    padding: 0;
}

.summary-box {
    border: 1px solid black;
    border-radius: 1rem;
    max-height: 25rem;
    box-shadow: 6px 4px 8px;
}

.product-card {
    transition: 0.1s;
}

.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* add padding top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}