html {
    height: 100%;
}

body {
    background: url('/media/home_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

/***** COLORS *****/
:root {
    --dark-green: #416a59;
    --green: #73a24e;
    --yellow: #f1db7d;
    --orange: #fb8b2e;
    --red: #80202b;
}

/***** TEXT *****/
.yellow-text {
    color: var(--yellow);
}

.orange-text {
    color: var(--orange);
}

.green-text {
    color: var(--green);
}

.dark-green-text {
    color: var(--dark-green);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

.btn-green,
.badge-green {
    background: var(--green);
    color: #fff;
}

.btn-outline-green {
    border: 1px solid var(--green);
    color: var(--green);
}

.btn-outline-green:hover {
    border: 1px solid var(--green);
    background: var(--green);
    color: #fff;
}

.btn-dark-green {
    background: var(--dark-green);
    color: #fff;
}

.bg-green {
    background: var(--green);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

.back-to-top-button {
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.back-to-top-link {
    cursor: pointer;
}

.btn-accordion {
    padding: 0;
}

.summary-box {
    border: 1px solid var(--dark-green);
    border-radius: 0.5rem;
    max-height: 27rem;
    box-shadow: 2px 4px 4px var(--dark-green);
    margin-bottom: 2rem;
}

.product-card {
    transition: box-shadow 0.3s;
}

.product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.form-quantity {
    margin-top: 8px;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--dark-green);
    position: relative;
    margin-bottom: 3rem;
}

.heading::after {
    content: "";
    background-color: var(--green);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.big-heading {
    font-size: 2.5rem;
}

.big-heading::after {
    width: 10rem;
    height: .5rem;
    bottom: -1.5rem;
}

.small-heading {
    font-size: 1.5rem;
}

.small-heading::after {
    width: 8rem;
    height: .3rem;
    bottom: -1rem;
}

.logo {
    font-size: 250%;
}

.logo span {
    font-size: 50%;
}

select {
    border: 1px solid var(--dark-green) !important;
}

/***** NAVBAR *****/
.nav-link {
    color: var(--dark-green) !important;
}

.nav-link:hover,
.nav-link.active {
    color: var(--green) !important;
}

/***** TOASTS *****/

.message-container {
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 9999;
}

.basket-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.checked {
    color: var(--orange);
}

.step-links a {
    color: var(--green);
}

.step-links a:hover {
    color: var(--dark-green);
    text-decoration: none;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* add padding top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}