<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- All Products Link -->
        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Plants Link -->
        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link mr-5" href="#" id="plants-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="" class="dropdown-item">Fruit Trees</a>
                <a href="" class="dropdown-item">Fruit Bushes</a>
                <a href="" class="dropdown-item">Vegetable Plants</a>
                <a href="" class="dropdown-item">All Plants</a>
            </div>
        </li>
        <!-- Seeds Link -->
        <li class="nav-item dropdown">
            <a class="text-uppercase font-weight-bold nav-link mr-5" href="#" id="seeds-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Seeds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="seeds-link">
                <a href="" class="dropdown-item">Vegetable Seeds</a>
                <a href="" class="dropdown-item">Bulbs</a>
                <a href="" class="dropdown-item">All Seeds</a>
            </div>
        </li>
        <!-- Blog Link -->
        <li class="nav-item">
            <a class="text-uppercase font-weight-bold nav-link" href="{% url 'blog' %}">
                Blog
            </a>
        </li>
    </ul>
</div>