{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Blog{% endblock %}

{% block header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="heading big-heading">Pickle's Blog</h2>
            <!-- Add blog post button -->
            {% if request.user.is_superuser %}
            <a class="btn btn-green mb-4" href="{% url 'add_post' %}">Add Blog Post</a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        {% for post in page_obj %}
        <!-- Blog post image -->
        <div class="col-12 col-md-4 col-lg-4 offset-md-1 offset-lg-2">
            <div class="image-container mb-4">
                {% if post.image %}
                <a href="{% url 'post' post.slug %}">
                    <img class="card-img-top img-fluid img-blog" src="{{ post.image.url }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{% url 'post' post.slug %}">
                    <img class="card-img-top img-fluid img-blog" src="{{ MEDIA_URL }}no-image-icon.png"
                        alt="{{ post.title }}">
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Blog post title and intro -->
        <div class="col-12 col-md-6 col-lg-4">
            <h2>{{ post.title }}</h2>
            <small>By {{ post.author }} - {{ post.date }}</small>
            <p>{{ post.intro }}<a href="{% url 'post' post.slug %}">...read more</a></p>
        </div>
        {% if not forloop.last %}
        <div class="w-75 mx-auto mb-4">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<!-- Pagination -->
<div class="container pb-4 mt-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}